    html{
        font-family: 'Montserrat', sans-serif;
    }
    #harvylopz{
        padding: 0;
    }

    *{
        padding: 0;
        margin: 0;
        text-decoration: none;
        list-style: none;
        box-sizing: border-box;
    }

    nav{
        background-color: #6a3080 ;
        height: 80px;
        width: 100%;
    }

    label.logox{
        color: white;
        font-size: 35px;
        line-height: 80px;
        padding: 0 100px;
        /* font-weight: bold; */
    }

    nav ul{
        float:right;
        margin-right: 20px;
    }

    nav ul li{
        display: inline-block;
        line-height: 80px;
        margin: 0 5px;
    }

    nav ul li a{
        color: white;
        font-size: 14px;
        padding: 7xp 13px;
        border-radius: 3px;
        text-transform: uppercase;
    }

    a.active,a:hover{
        padding: 1px;
        background-color: #6a3080;
        transition: .5s;
        border-radius: 5rem;
    }

    .checkbtn{
        font-size: 30px;
        color: white;
        float: right;
        line-height: 80px;
        margin-right: 40px;
        cursor: pointer;
        display: none;
    }
    #check{
        display: none;
    }


    body{
        background-color:#D2B4DE ;
        margin: 0;
        padding: 0;
    }

    @font-face {
        font-family: 'autography';
        src: url('RecursosWeb/Autography.otf') format('truetype');
        font-style: normal;
        font-weight: normal;
      }

      .logox{
        font-family: 'autography';
    }



 
    .box{
        display: flex;
        justify-content: center;
        padding: 1px;
        border-radius: 20px;
        margin: 0 0 30px 0;
    }

    #listita{
        list-style: none;
    }

    #container-presentacion{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

    }

    #container-presentacion div{
        /* background-color: blue; */

    }

    #presentacion{
        margin: 0 auto;
    }

    .presentacion{
        
        max-width: 450px;
    }

    h1{
        margin-top: 1rem;
        margin-bottom: 2rem;
        
    }

    #container-presentacion img{
        width:12rem;
        border-radius: 5%;
       
        background-color: #6a3080;
        
    }

    /* CONTENEDORES VIDEO */

    .contenedor-videos{
        
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .contenedor-videos iframe{
        margin: 1rem;
        
    }  

    /* CONTENEDORES VIDEO */

    div h1{
        text-align: center;
    }

    .box div{
    
        margin: 10px;
    }

    .logosredes{
        height: 70px;
    }

    #piedra-papel-tijera{
        width: 100%;
        height: 700px;
        margin: 0;
    }

    .container-proyetos{

        display: flex;
	    justify-content: center;
	    align-items: center;
        margin: 5rem;
        
    }

  

    .container-proyetos iframe{
        margin: 0 1rem 0 1rem;
        background-color: white;
        border: inset 1px rgba(0,0,0,0.1);
    }

    .container-proyetos a img {
        margin: 3rem;
        width: 20rem;
        height: 15rem;
        background-color: white;
        padding: 2rem;
        border-radius: 2rem;

    }

    div p{
        text-align: justify;
        line-height : 25px;
    }
    #misredes {
        margin: 30 0 0 0 ;
        text-align: center;
        font-size: 2rem;

    }

    /* .container {
        Este propiedad de width y margin centran el container
        max-width: 500px;
        margin: 0 auto;
    }
    
    .post{
      text-align: left;
    }
    
    .posttext{
      padding: 0 1rem 0 1rem;
    }
    
    .imagenes {
      max-width:500px;
    } */

    section article {
        transition: all 0.3s ease;
        background-color: rgb(231, 211, 243);
        margin: 1rem 0 ;
        border-radius: 0.5 rem;
        padding: 0.25rem 0;
        /* el segundo valor de padding es para que no se salga la imagen */
        cursor: pointer;
    }
    
    section article:hover{
        box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.3) ;
    }
    
    
    
    p{
        margin: 1rem;
    }

    footer{
        background-color: #6a3080;
        padding: 3rem;
        color: white;
    }

    footer a{
        transition: color 1s ease;
        color: white;
        text-decoration: none;
    }
    footer a:hover{
        color: rgb(175, 136, 226);
    }
    footer section{
        float: right;
    }

    footer p{
        margin: 0;
    }
    #info-dev{
        text-align: center;
        font-size: 12px;
        }


    .gallery-row{
        display: flex;
        flex-wrap: wrap;
         
    
    }
    
    .column-photo{
        flex: 33.33%;
    }
    
    img{
        padding: 5px;
        width: 100%;
    }

    /* MEDIA QUERY */
    /* MEDIA QUERY */
    /* MEDIA QUERY */
    /* MEDIA QUERY */

    @media (max-width:1200px){
        label.logox{
            padding: 0 35px;
            font-size: 25px;
        }
        .container-proyetos{
            flex-direction: column;
          }
    }

    @media (max-width:1000px){
        label.logox{
            padding: 0 5px 0px 10px;
            font-size: 25px;
        }
        .container-proyetos{
            flex-direction: column;
          }
    }

    @media (max-width:952px){
        label.logox{
            font-size: 30px;
            padding-left: 50px;

        }

        nav ul li a{
            font-size: 16px;
        }
        
    
    }

    @media (max-width:920px){
        .checkbtn{
            display: block;
        }

        .container-proyetos{
            flex-direction: column;
          }

        

        .fas{
            margin-top: 1rem;
        }
        ul{
            position: fixed;
            width: 100%;
            height: 100vh;
            background-color: rgb(72, 33, 83);
            top: 80px;
            left: -100%;
            text-align: center;
            transition: all .5s;
        }
        nav ul li{
            display: block;
            margin: 50px 0;
            line-height: 30px;
        }
        nav ul li a{
            font-size: 20px;

        }
        a:hover,a.active{
            background: none;
            color: rgb(34, 0, 53); 
              
        }
        #check:checked ~ ul{
            left: 0;
        }
    }

    @media (max-width:550px){

        .column-photo{
            flex: 100%;
        }
        .container-proyetos{
            flex-direction: column;
          }

    }

 
    @media (max-width:450px){

     
        #harvylopz{
            font-size: 3rem;
        }
        
        .imagenes{
          
            width: 100%;
            margin: 1px auto;
        }

        
    
        .container-proyetos{
          flex-direction: column;
        }

        .logosredes{
            height: 2rem;
        }

        #copyright{
            margin-top: 3rem;
        }
        
        
    @media (max-width:400px) {

        #piedra-papel-tijera{
            height: 600px;
        }

        
    }

    

	
    }	
